@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.SistemaOS.SisPerfilFuncionario.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SistemaOrdemServico.SistemaOS.SisPerfilFuncionarioGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>