{
    "RootNamespace": "SistemaOrdemServico",
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=(LocalDb)\\MSSqlLocalDB; Initial Catalog=SistemaOrdemServico_Default_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        },
        {
            "Key": "SistemaOS",
            "ConnectionString": "Data Source=HABIL-NB13; Initial Catalog=SistemaOS;integrated security=False;user id=UserSite;Password=Q1w2e3r4@",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.SisTipoEquipamento",
                    "Identifier": "SisTipoEquipamento",
                    "Module": "SistemaOS",
                    "ConnectionKey": "SistemaOS",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.SisPerfilFuncionario",
                    "Identifier": "SisPerfilFuncionario",
                    "Module": "SistemaOS",
                    "ConnectionKey": "SistemaOS",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.OrdemServico",
                    "Identifier": "OrdemServico",
                    "Module": "SistemaOS",
                    "ConnectionKey": "SistemaOS",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Funcionario",
                    "Identifier": "Funcionario",
                    "Module": "SistemaOS",
                    "ConnectionKey": "SistemaOS",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Equipamento",
                    "Identifier": "Equipamento",
                    "Module": "SistemaOS",
                    "ConnectionKey": "SistemaOS",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Cliente",
                    "Identifier": "Cliente",
                    "Module": "SistemaOS",
                    "ConnectionKey": "SistemaOS",
                    "PermissionKey": "Administration:General"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\SistemaOrdemServico\\SistemaOrdemServico.Web\\SistemaOrdemServico.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}