@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.SistemaOS.SisTipoEquipamento.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SistemaOrdemServico.SistemaOS.SisTipoEquipamentoGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>