@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.SistemaOS.Equipamento.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SistemaOrdemServico.SistemaOS.EquipamentoGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>